html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    align-items: stretch;
}

body > section {
    height: 100%;
    flex-grow: 1;
    text-align: center;
    max-width: 50%;
}

.retransmission {
    color: white;
    background: url("assets/retransmission/before-bg.jpg") center;
    background-size: cover;
    image-rendering: optimizeSpeed;
}

#button-start {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);

    cursor: pointer;
    border: 4px double white;
    background: black;
    color: white;
    font-family: monospace;
    padding: .5em 1em;
    text-transform: uppercase;
    font-size: 4vh;
}

#presentation {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

#presentation-veil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 3;
}

.presentation-video {
    height: 100%;
    /*width: 177.77777778vh; !* 100 * 16 / 9 *!*/
    min-width: 100%;
    /*min-height: 56.25vw; !* 100 * 9 / 16 *!*/

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#presentation-video-a {
    z-index: 2;
}

#presentation-video-b {
    z-index: 1;
}

a {
    text-decoration: none;
    background: transparent;
}

.archive {
    display: flex;
    flex-direction: column;
}

.documents {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1.5em;
}

.document {
    background: rgb(23, 23, 23);
    padding: 1em;
}

.archive h2 {
    font-weight: normal;
    margin: 0;
}

/*noinspection CssUnknownProperty*/
.archive p {
    font-size: 18px;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    line-clamp: 8;
    overflow: hidden;
}

.photo-documentation {
    filter: invert();
}

#license-button {
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 15px;
}
