@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,600|Inconsolata:400,700&display=swap');

body {
    background: #0b0b0b;
    color: #efefef;

    font-family: 'Inconsolata', monospace;
    font-size: 18px;
}

a {
    color: white;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px
}

h3 {
    font-size: 22px;
}

h1, h2, h3, h4 {
    margin: .5em 0;
}

header {
    font-family: 'EB Garamond', serif;
    margin: 2em 0;
    text-align: center;
}

header h1 {
    font-weight: 700;
    margin-bottom: 0;
}

header h1 a {
    text-decoration: none;
}

header h2 {
    font-size: 22px;
    font-weight: normal;
}
