article {
    width: 60%;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    article {
        width: 95%;
    }
}

article img {
    display: block;
    max-width: 60%;
    margin: auto;
}

.preamble {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid white;
}
