body {
    text-align: center;
}

.projects a {
    text-decoration: none;
}

.projects h2 {
    margin-bottom: 0;
}

.project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    width: 50%;
}

@media screen and (max-width: 1000px) {
    .project {
        width: 90%;
    }
}

.project h3 {
    margin-top: 1em;
    margin-bottom: 0;
}

.project h4 {
    margin-top: 0;
}

.project-inner {
    display: block;
    width: 100%;
    min-height: 30vh;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
}
