<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>/<\ CRAP: {{ page.title }}</title>
        <link rel="stylesheet" href="/assets/main.css">
        {% if layout.style %}
        <link rel="stylesheet" href="/assets/style-{{layout.style}}.css">
        {% endif %}
        {% if page.style %}
        <link rel="stylesheet" href="/assets/style-{{page.style}}.css">
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <header>
        <h1>
            <a href="/">
                Center for Researching the Abolishment of the Present
            </a>
        </h1>
        <h2>
            A <a href="https://sdbs.cz">/-\</a> and <a href="https://diffractionscollective.org">Diffractions
            Collective</a> Cross-fertilization Venture
        </h2>
    </header>
    <body>
        {{ content }}
    </body>
</html>

