---
layout: default
style: home
---
<header>
    {{ content }}
</header>

<section class="projects">
    <h2>Common Projects</h2>

    <div class="project-list">
        {% for post in site.projects reversed %}
        <div class="project">
            <a href="{{ post.direct-url | default: post.url }}">
                <h3>{{ post.title }}</h3>
                <h4>{{ post.date | date: "%Y/%m/%d" }}</h4>
            </a>
            <a class="project-inner {{ post.slug }}"
               style="background-image: url(assets/{{post.cover}})"
               href="{{ post.direct-url | default: post.url }}">
            </a>
        </div>
        {% endfor %}
    </div>
</section>
