---
layout: default
style: post
---
<article>
    <section class="preamble">
        <h2>{{ page.title }}</h2>
        <h3>{{ page.date | date: "%Y/%m/%d" }}</h3>
    </section>
    {{ content }}
</article>
